{
    "content":
    [
        {
            "type": "section",
            "title": "Background",
            "access": "editable",
            "content": [
                {
                    "type": "html",
                    "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
                }
            ]
        },
        {
            "type": "section",
            "title": "Campaign Objectives",
            "access": "editable",
            "content": [{
                    "type": "list",
                    "items": [
                        {% set prepend_comma = false %}
                        {% for objective in objectives %}
                            {% if prepend_comma == true %}
                                ,
                            {% endif %}
                            "{{ objective.label }}"
                            {% set prepend_comma = true %}
                        {% endfor %}
                    ]
                }
            ]
        },
        {
            "type": "section",
            "title": "Timings",
            "access": "readonly",
            "content":
            [
                {
                    "type": "list_timings",
                    "items":
                    [
                        {
                            "label": "pre",
                            "date_start": "{{ timing_pre[0].start_date }}",
                            "date_end": "{{ timing_pre[0].end_date }}"
                        },
                        {
                            "label": "during",
                            "date_start": "{{ timing_during[0].start_date }}",
                            "date_end": "{{ timing_during[0].end_date }}"
                        },
                        {
                            "label": "post",
                            "date_start": "{{ timing_post[0].start_date }}",
                            "date_end": "{{ timing_post[0].end_date }}"
                        }
                    ]
                }
            ]
        },
        {
            "type": "section",
            "title": "Evaluated Channels",
            "access": "readonly",
            "content":
            [
                {
                    "type": "list",
                    "items":
                    [
                    {% set prepend_comma = false %}
                    {% for channel in channels %}
                        {% if prepend_comma == true %}
                        ,
                        {% endif %}
                        "{{ channel.channel }}"
                        {% set prepend_comma = true %}
                    {% endfor %}
                    ]
                }
            ]
        },
        {
            "type": "section",
            "title": "Evaluated Cost",
            "access": "readonly",
            "content":
            [
                {
                    "type": "list",
                    "items":
                    [
                        "GBP {{ evaluated_cost[0].cost }}"
                    ]
                }
            ]
        },
        {
            "type": "section",
            "title": "Offer SKUs",
            "access": "readonly",
            "content":
            [
                {
                    "type": "text",
                    "value": "Please see Product Definitions"
                }
            ]
        },
        {
            {% set legend = [] %}
            {% set usedColors = [] %}
            "type": "section",
            "title": "Media Laydown",
            "access": "readonly",
            "content":
            [
                {
                    "type": "chart_media_laydown",
                    "items":
                    [
                        {% set prepend_comma = false %}
                        {% for item in media_laydown %}
                            {% if prepend_comma == true %}
                                ,
                            {% endif %}
                            {
                                "type": "media",
                                "label": "{{ item.media_label }}",
                                "date_start": "{{ date(item.start_date)|date('Y-m-d') }}",
                                "date_end": "{{ date(item.end_date)|date('Y-m-d') }}"
                                {% for color_config in additional_data.colors_config %}
                                    {% if item.media_label in color_config.media %}
                                        {% if color_config.color not in usedColors %}
                                            {% set legend = legend|merge([{color: color_config.color,label: color_config.label}]) %}
                                            {% set usedColors = usedColors|merge([color_config.color]) %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% set prepend_comma = true %}
                            }
                        {% endfor %}
                    ],
                    "legend":
                    [
                        {% set prepend_comma = false %}
                        {% for legend_item in legend %}
                            {% if prepend_comma == true %}
                                ,
                            {% endif %}
                            {
                            "label": "{{ legend_item.label }}",
                            "color": "{{ legend_item.color }}"
                            }
                            {% set prepend_comma = true %}
                        {% endfor %}
                    ]
                }
            ]
        }
    ],
    "title": "{{ additional_data['title'] }}",
    "state": "{{ additional_data['state'] }}",
    "order": "{{ additional_data['order'] }}",
    "created_at": "{{ date("now")|date("Y-m-d H:i:s") }}"
}