{% autoescape false %}
{
    "content":
    [
        {
            "type": "section",
            "title": "Background",
            "access": "editable",
            "content": [
                {
                    "type": "html",
                    "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
                }
            ]
        },
        {
            "type": "section",
            "title": "Campaign Objectives",
            "access": "editable",
            "content": [{
                    "type": "list",
                    "items": [
                        {% for objective in objectives %}
                            "{{ objective.label }}"{{ not loop.last ? ',' }}
                        {% endfor %}
                    ]
                }
            ]
        },
        {
            "type": "section",
            "title": "Timings",
            "access": "readonly",
            "content":
            [
                {
                    "type": "list_timings",
                    "items":
                    [
                        {
                            "label": "pre",
                            "date_start": "{{ timing_pre[0].start_date }}",
                            "date_end": "{{ timing_pre[0].end_date }}"
                        },
                        {
                            "label": "during",
                            "date_start": "{{ timing_during[0].start_date }}",
                            "date_end": "{{ timing_during[0].end_date }}"
                        },
                        {
                            "label": "post",
                            "date_start": "{{ timing_post[0].start_date }}",
                            "date_end": "{{ timing_post[0].end_date }}"
                        }
                    ]
                }
            ]
        },
        {
            "type": "section",
            "title": "Evaluated Channels",
            "access": "readonly",
            "content":
            [
                {
                    "type": "list_channels",
                    "items":
                    [
                        {% for channel in channels %}
                        {
                            "label": "{{ channel.channel }}",
                            "type": "{{ channel.icon }}"
                        }{{ not loop.last ? ',' }}
                        {% endfor %}
                    ]
                }
            ]
        },
        {
            "type": "section",
            "title": "Evaluated Cost",
            "access": "readonly",
            "content":
            [
                {
                    "type": "list",
                    "items":
                    [
                        "GBP {{ evaluated_cost[0].cost }}"
                    ]
                }
            ]
        },
        {
            "type": "section",
            "title": "Offer SKUs",
            "content":
            [{
                "type": "list",
                "items":
                [
                    {% for definition in product_definitions %}
                    "{{ definition.sku|replace({'\r':''}) }}"{{ not loop.last ? ',' }}
                    {% endfor %}
                ]
            }]
        },
        {
            {% set legendItems = [] %}
            {% set usedMediaTypes = [] %}
            {% set media_laydown = [] %}
            {% set media_laydown = media_laydown|merge(evaluated_media_laydown)|merge(offer_media_laydown)|merge(other_media_laydown) %}
            "type": "section",
            "title": "Media Laydown",
            "access": "readonly",
            "content":
            [
                {
                    "type": "chart_media_laydown",
                    "items":
                    [
                        {% for item in media_laydown %}
                            {
                                "type": "{{ item.type }}",
                                "label": "{{ item.media_label }}",
                                "date_start": "{{ date(item.start_date)|date('Y-m-d') }}",
                                "date_end": "{{ date(item.end_date)|date('Y-m-d') }}"
                                {% for legend_config in additional_data.legend_configs %}
                                    {% if (item.type == legend_config.media_type) and (legend_config.media_type not in usedMediaTypes) %}
                                        {% set legendItems = legendItems|merge([{type: legend_config.media_type,label: legend_config.label}]) %}
                                    {% endif %}
                                {% endfor %}
                            }{{ not loop.last ? ',' }}
                        {% endfor %}
                    ],
                    "legend":
                    [
                        {% for legend_item in legendItems %}
                            {
                                "type": "{{ legend_item.type }}",
                                "label": "{{ legend_item.label }}"
                            }{{ not loop.last ? ',' }}
                        {% endfor %}
                    ]
                }
            ]
        }
    ],
    "title": "{{ additional_data['title'] }}",
    "state": "{{ additional_data['state'] }}",
    "order": "{{ additional_data['order'] }}",
    "created_at": "{{ date("now")|date("Y-m-d H:i:s") }}"
}
{% endautoescape %}